html, body, menu, ul, ol, li, dl, dt, dd, p, div, form, h1, h2, h3, h4, h5, h6, img, a img, input, textarea, fieldset, figure, figcaption {
    padding: 0;
    margin: 0;
    border: 0;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b, i, em {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}

header, nav, section, footer {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

img, input, select {
    vertical-align: middle;
}

body, input, textarea, select {
    -webkit-text-size-adjust: none;
    font: normal 16px/1.5 "\5FAE\8F6F\96C5\9ED1", Helvetica, verdana, san-serif;
}

input[type="text"], input[type="password"], input[type="button"], input[type="submit"], textarea {
    -webkit-appearance: none;
}